<div class="col-lg-4  col-md-7 col-sm-6">
    <div class="single-footer">
        <h3>Liên hệ</h3>
        <div class="footer-content">
            <div class="loc-address">
                <span><i class="fa fa-map-marker"></i>{{site.contact.address}}</span>
                <span><i class="fa fa-envelope-o"></i>Mail Us : {{site.contact.email}}</span>
                <span><i class="fa fa-phone"></i>Phone: {{site.contact.phone_number}}</span>
            </div>
            <div class="payment-mth"><a href="#"><img class="img" src="img/footer/1.png" alt="payment-image"></a></div>
        </div>
    </div>
</div>