<div class="footer-bottom off-white-bg2">
    <div class="container">
        <div class="footer-bottom-content">
            <p class="copy-right-text">{{{site.copyright}}}</p>
            <div class="footer-social-content">
                <ul class="social-content-list">
                    {{#each site.contact.social}}
                        <li><a href="{{this.item_value}}"><i class="{{this.item_class}}"></i></a></li>
                    {{/each}}
                    
                    
                    
                    <!--<li><a href="https://facebook.com/{{site.twitter}}"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-wifi"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://facebook.com/{{site.facebook}}"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>