<h2 class="section-title"><span>CLIENTS</span></h2>
<!-- CLIENTS -->
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- client -->
        <div class="client">
            <a href="#">
                <img src="images/clients/client-01.png" alt="client">
            </a>
        </div>
        <!-- client -->
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- client -->
        <div class="client">
            <a href="#">
                <img src="images/clients/client-02.png" alt="client">
            </a>
        </div>
        <!-- client -->
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- client -->
        <div class="client">
            <a href="#">
                <img src="images/clients/client-03.png" alt="client">
            </a>
        </div>
        <!-- client -->
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- client -->
        <div class="client">
            <a href="#">
                <img src="images/clients/client-04.png" alt="client">
            </a>
        </div>
        <!-- client -->
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- client -->
        <div class="client">
            <a href="#">
                <img src="images/clients/client-05.png" alt="client">
            </a>
        </div>
        <!-- client -->
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- client -->
        <div class="client">
            <a href="#">
                <img src="images/clients/client-06.png" alt="client">
            </a>
        </div>
        <!-- client -->
    </div>
</div>
<!-- CLIENTS -->