<h2 class="section-title"><span><i class="icon-address-book"></i>LET'S GET IN TOUCH</span></h2>
<!-- LETTER -->
<div class="letter">
    <h4 class="letter-title">{{site.contact.name}}</h4>
    <div class="stamp">
      <img src="images/site/stamp-image.png" alt="stamp">
    </div>
    <div class="letter-info">
        <p><i class="icon-at"></i>{{site.contact.email}}</p>
        <p><i class="icon-phone"></i>{{site.contact.phone_number}}</p>
        <p><i class="icon-location"></i>{{site.contact.address}}</p>
    </div>
</div>    
<!-- LETTER -->