<h2 class="section-title"><span>FUN FACT</span></h2>
<!-- FUN FACT -->
<div class="row">
    <div class="col-sm-6 col-md-3">
        <!-- fun-fact -->
        <div class="fun-fact">
            <i class="icon-instagram-1"></i>
            <h4>24000 SHOTS CAPTURED</h4>
        </div>
        <!-- fun-fact -->
    </div>
    <div class="col-sm-6 col-md-3">
        <!-- fun-fact -->
        <div class="fun-fact">
            <i class="icon-jabber"></i>
            <h4>37 PROJECTS COMPLETED</h4>
        </div>
        <!-- fun-fact -->
    </div>
    <div class="col-sm-6 col-md-3">
        <!-- fun-fact -->
        <div class="fun-fact">
            <i class="icon-child"></i>
            <h4>87 SATISFIED CUSTOMERS</h4>
        </div>
        <!-- fun-fact -->
    </div>
    <div class="col-sm-6 col-md-3">
        <!-- fun-fact -->
        <div class="fun-fact">
            <i class="icon-bicycle"></i>
            <h4>1450 KM CYCLED</h4>
        </div>
        <!-- fun-fact -->
    </div>
</div>
<!-- FUN FACT -->