<h2 class="section-title"><span><i class="fa fa-magic"></i>SERVICES</span></h2>
<!-- SERVICES -->
<div class="row">
    <div class="col-sm-6 col-md-3">
        <!-- service -->
        <div class="service color1">
            <i class="fa fa-html5"></i>
            <h4>Web Design</h4>
            <p>I design super cool websites. It is a long established fact that a reader will be distracted by the readable content. </p>
        </div>
        <!-- service -->
    </div>
    <div class="col-sm-6 col-md-3">
        <!-- service -->
        <div class="service color2">
            <i class="fa fa-font"></i>
            <h4>Type Design</h4>
            <p>I can design beautiful type faces for both digital and print media. It is a long established fact that a reader will be distracted. </p>
        </div>
        <!-- service -->
        
    </div>
    <div class="col-sm-6 col-md-3">
        <!-- service -->
        <div class="service color3">
            <i class="icon-smashmag"></i>
            <h4>Blog Writer</h4>
            <p>I write about web design. It is a long established fact that a reader will be distracted by the readable content. </p>
        </div>
        <!-- service -->
        
    </div>
    <div class="col-sm-6 col-md-3">
        <!-- service -->
        <div class="service color4">
            <i class="fa fa-rocket"></i>
            <h4>Project Management</h4>
            <p>I have strong project management skills. It is a long established fact that a reader will be distracted by the readable content. </p>
        </div>
        <!-- service -->
    </div>
</div>
<!-- SERVICES -->